# Shared
APP_NAME=Wrestle Rumble

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

# Backend
API_HOST=0.0.0.0
API_PORT=8000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/wrestle_rumble
SECRET_KEY=change-me
